/* some constants */
:root {
  /* math magic useless stuff */
  --sqrt-2: 1.4142135623730951;
  --sqrt-3: 1.7320508075688772;
  --sqrt-5: 2.23606797749979;
  --fi: calc((1 + var(--sqrt-5)) / 2);
  --fi-a: calc(1 / var(--fi) * 100%);
  --fi-b: calc(100% - var(--fi-a));
  --fi-c: calc(var(--fi-a) - var(--fi-b));

  /* actual sizes */
  --margin: 8px;
  --margin-2: calc(var(--margin) * 2);
  --margin-4: calc(var(--margin) * 2);

  --width: 100vw;
  --circle-radius: 50vmin;
  --circle-border-size: 10px;
  --info-cover: 0.1;
  --info-covering: calc(-2 * var(--circle-radius) * var(--info-cover));
  --info-size: 8vmin;
  --desc-size: 0.5em;
  --stroke-width: 2px;

  --glider-number: 12;
  --glider-size: calc(var(--width) / var(--glider-number));
  --glider-position: calc((100vw - var(--width)) / 2) calc(var(--circle-radius)/2 + var(--circle-border-size) + var(--margin) - var(--glider-size)/2);

  --main-font-size: 1.5vw;
  /* colors */

}

/* the glider */
#prof {
  margin: 0;
  background: #ccc url(../img/glider.svg) repeat-x fixed;
  background-size: calc(var(--glider-size));
  background-position: var(--glider-position);
  padding: var(--margin);
}

/* the circle with prof img */
#prof > img {
  width: var(--circle-radius);
  height: var(--circle-radius);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black var(--circle-border-size) solid;
  position: relative;
}

/* hide scrollbar */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

/* Blinker font */
body {
  margin: 0;
  font-family: 'Blinker', sans-serif;

  background-color: #276;
}

#container {
  width: var(--width);
  margin-left: auto;
  margin-right: auto;
}

#info > header {
  margin: 0;
  text-align: center;
  line-height: 50%;
  padding-bottom: var(--margin-2);
}

.nick {
  font-weight: 700;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: var(--stroke-width);
}

.aka {
  color: #eee;
  font-size: 0.5em;
  font-weight: 300;
}

#info {
  font-size: var(--info-size);
  margin-top: var(--info-covering);
  padding-top: calc(-1 * var(--info-covering) + var(--margin-4));
  background-color: #666;
}

#desc {
  padding: 1vw;
  width: calc(100% - 2vw);
  background-color: #567;
}

#desc > p {
  font-size: var(--desc-size);
  display: block;
  margin: 0 auto 0 auto;
  color: #abc;
  letter-spacing: .1em;
  text-align: center;
}

#debug {
  padding: 3px;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  display: /**/block/*/ none /*/;
  /*
    To switch display you should only remove or add first asterisk
  */
}

a {
  color: #a00;
  text-decoration: inherit;
  font-weight: 900;
}

main {
  font-family: "Source Code Pro", monospace;
  font-size: var(--main-font-size);
  background-color: #ccc;
  width: 60ch;
  padding: 1em;
  margin: auto;
}

.about-sel {
  margin-left: 4ch;
}

.about-sep-sel:before {
  content: ";";
}

.about-sep-val:before {
  content: ":";
}
