:root {
  --margin: 2px;
  --glider-number: 6;
  --circle-border-size: 6px;
  --desc-size: 0.3em;
  --main-font-size: 2.3vw;
  --ribbon-extra-length: .2em;
  --further-scale: 0;
  --further-length: 0;
}

#debug {
  background-color: red;
}

@media screen and (orientation:portrait) {
  :root {
    --circle-radius: 70vw;
    --info-size: 16vmin;
  }
  #debug {
    background-color: orange;
  }
}
