---
---
:root {
  --margin: 4px;
  --glider-number: 9;
  --stroke-width: 1px;
  --circle-radius: 60vmin;
  --circle-border-size: 8px;
  --info-size: 12vmin;
  --desc-size: 0.4em;
  --main-font-size: 2vw;
}

#debug {
  background-color: yellow;
}
