:root {
  --margin: 8px;
  --margin-2: calc(var(--margin) * 2);
  --margin-4: calc(var(--margin) * 2);
  --sqrt-2: 1.4142135623730951;
  --sqrt-3: 1.7320508075688772;
  --sqrt-5: 2.23606797749979;
  --fi: calc((1 + var(--sqrt-5)) / 2);
  --fi-a: calc(1 / var(--fi) * 100%);
  --fi-b: calc(100% - var(--fi-a));
  --fi-c: calc(var(--fi-a) - var(--fi-b));
}

img#prof {
  width: 50vmin;
  height: 50vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black 10px solid;
}

div#prof {
  background: #ccc url(./img/glider.svg) 0 calc(25vmin - 5vw + 10px + var(--margin)) repeat-x fixed;
  background-size: 10vw;
  padding: var(--margin);
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

h1 {
  text-align: center;
  font-size: 10vh;
  line-height: .7em;
  margin: 0;
}

p {
  text-align: center;
}

.aka {
  font-size: 0.5em;
  color: #222;
  font-style: normal;
  font-weight: 300;
}

.info {
  background-color: #666;
  padding-top: var(--margin-4);
}

div#desc {
  width: 100%;
  background-color: #567;
}
p#desc {
  font-size: 2.5vw;
  padding-bottom: 1em;
  width: var(--fi-a);
  display: block;
  margin: auto;
  color: #e0dfdc;
  letter-spacing: .1em; /* https://htmlcheatsheet.com/css/ Text Shadow Deep */
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
