/* some constants */
:root {
  --margin: 8px;
  --margin-2: calc(var(--margin) * 2);
  --margin-4: calc(var(--margin) * 2);
  --sqrt-2: 1.4142135623730951;
  --sqrt-3: 1.7320508075688772;
  --sqrt-5: 2.23606797749979;
  --fi: calc((1 + var(--sqrt-5)) / 2);
  --fi-a: calc(1 / var(--fi) * 100%);
  --fi-b: calc(100% - var(--fi-a));
  --fi-c: calc(var(--fi-a) - var(--fi-b));
}

/* the glider */
#prof {
  background: #ccc url(./img/glider.svg) 0 calc(25vmin - 5vw + 10px + var(--margin)) repeat-x fixed;
  background-size: 10vw;
  padding: var(--margin);
}

/* the circle with prof img */
#prof > img {
  width: 50vmin;
  height: 50vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: black 10px solid;
}

/* hide scrollbar */
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}


/* Blinker font */
body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

h1 {
  text-align: center;
  font-size: 10vh;
  line-height: .7em;
  margin: 0;
}

p {
  text-align: center;
}

.nick {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.aka {
  color: #eee;
  font-size: 0.5em;
  color: #222;
  font-style: normal;
  font-weight: 300;
  -webkit-text-stroke-width: 0;
}

#info {
  background-color: #666;
  padding-top: var(--margin-4);
}

div#desc {
  width: 100%;
  background-color: #567;
}

#desc > p {
  font-size: 2.5vw;
  padding-bottom: 1em;
  width: var(--fi-a);
  display: block;
  margin: auto;
  color: #abc;
  letter-spacing: .1em;
}
